.staff{
    width: 75%;
    margin: auto;
}
.staff h1{
    width: 25%;
    margin-left: 40%;
    margin-top: 80px;
    color: green;
}
.staff-login{
    width: 100%;
    /* border: solid; */
    margin: auto;
    margin-top: -110px;
}